In [2]:
import pandas as pd

C:\Users\User\AppData\Local\Temp\ipykernel_6088\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [10]:
file = "Resources/purchase_data.csv"
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
total_players = df["SN"].count()
total_players_df = pd.DataFrame([{"Total Players": total_players}])
total_players_df

   Total Players
0            780

In [8]:
num_unique = len(df["Item Name"].unique())
av_price = df["Price"].mean()
num_purchases = len(df["Purchase ID"])
total_revenue = df["Price"].sum()
purchasing_df = pd.DataFrame([{
    "Number of Unique Items": num_unique,
    "Average Price": av_price,
    "Number of Purchases": num_purchases,
    "Total Revenue": total_revenue
}])
purchasing_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [14]:
num_male = df["Gender"].value_counts()["Male"]
num_female = df["Gender"].value_counts()["Female"]
x = num_male + num_female
num_other = df["Gender"].count() - x
gender_df = pd.DataFrame([{"Gender": "Male" , "Total Count": num_male , "Percentage of Players": format((num_male/total_players)*100, "0.2f")},
                        {"Gender": "Female" , "Total Count": num_female , "Percentage of Players": format((num_female/total_players)*100, "0.2f")},
                        {"Gender": "Other/Undisclosed" , "Total Count": num_other , "Percentage of Players": format((num_other/total_players)*100, "0.2f")}   
                         ])
gender_df

              Gender  Total Count Percentage of Players
0               Male          652                 83.59
1             Female          113                 14.49
2  Other/Undisclosed           15                  1.92